Repository Wall-Brew-Co/spoon, changes with the labels that .github/labeler.yml gives for each.
All labels: dotfiles, recipes, restricted, test-dependencies

Initial commit
  .clj-kondo/com.wallbrew/spoon/config.edn
  .clj-kondo/config.edn
  .editorconfig
  .github/dependabot.yml
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/dependencies.yml
  .github/workflows/scheduled.yml
  .gitignore
  API.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  pom.xml
  project.clj
  resources/clj-kondo.exports/com.wallbrew/spoon/config.edn
  src/com/wallbrew/spoon/core.cljc
  src/com/wallbrew/spoon/spec.cljc
  src/com/wallbrew/spoon/string.cljc
  src/template/core.clj
  test/com/wallbrew/spoon/core_test.cljc
  test/com/wallbrew/spoon/runner.cljs
  test/com/wallbrew/spoon/spec_test.cljc
  test/com/wallbrew/spoon/string_test.cljc
  test/template/core_test.clj
Labels: dotfiles, restricted, test-dependencies

Initial commit (#1)
  .clj-kondo/com.wallbrew/spoon/config.edn
  .clj-kondo/config.edn
  .editorconfig
  .github/dependabot.yml
  .github/workflows/cljdoc_test.yml
  .github/workflows/clojure.yml
  .github/workflows/clojurescript.yml
  .github/workflows/dependencies.yml
  .github/workflows/scheduled.yml
  .gitignore
  API.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  pom.xml
  project.clj
  resources/clj-kondo.exports/com.wallbrew/spoon/config.edn
  src/com/wallbrew/spoon/core.cljc
  src/com/wallbrew/spoon/spec.cljc
  src/com/wallbrew/spoon/string.cljc
  src/template/core.clj
  test/com/wallbrew/spoon/core_test.cljc
  test/com/wallbrew/spoon/runner.cljs
  test/com/wallbrew/spoon/spec_test.cljc
  test/com/wallbrew/spoon/string_test.cljc
  test/template/core_test.clj
Labels: dotfiles, restricted, test-dependencies

Add clojars deployment script
  .github/workflows/deploy_to_clojars.yml
  project.clj
Labels: dotfiles, restricted

Apply suggestions from code review
  .github/workflows/deploy_to_clojars.yml
Labels: dotfiles, restricted

Automate deployments (#6)
  .github/workflows/deploy_to_clojars.yml
  project.clj
Labels: dotfiles, restricted

Get documentation to a sane place
  README.md
Labels: none

Add Changelog
  CHANGELOG.md
Labels: none

Add utilities for automatically deploying to Clojars (#7)
  CHANGELOG.md
  README.md
Labels: none

Update deploy_to_clojars.yml
  .github/workflows/deploy_to_clojars.yml
Labels: dotfiles, restricted

Update README.md
  README.md
Labels: none

Fix a docstring typo
  src/com/wallbrew/spoon/core.cljc
Labels: none

Version bump
  API.md
  CHANGELOG.md
  package-lock.json
  package.json
  pom.xml
  project.clj
Labels: test-dependencies

Fix Docstring Typo (#8)
  API.md
  CHANGELOG.md
  package-lock.json
  package.json
  pom.xml
  project.clj
  src/com/wallbrew/spoon/core.cljc
Labels: test-dependencies

Fix greeting
  .github/workflows/greetings.yml
Labels: dotfiles, restricted

.github/labeler.yml:

dotfiles:
  - .github/**/*
  - .gitignore
  - .editorconfig

recipes:
  - src/brew_bot/calculators.cljc
  - src/brew_bot/generators.cljc
  - src/brew_bot/ingredients.cljc
  - src/brew_bot/weights.cljc

restricted:
  - LICENSE
  - CONTRIBUTING.md
  - CODE_OF_CONDUCT.md
  - CODEOWNERS
  - .github/**/*
  - .cljstyle
  - SECURITY.md

test-dependencies:
  - package.json
  - package-lock.json
